<!-- TODO permission -->
<os-head-bar
    [editMode]="hasChanged"
    (saveEvent)="sendUpdate()"
    (mainEvent)="onCancel()"
    [nav]="false">
    <!-- Title -->
    <div class="title-slot"><h2 translate>Sort motions</h2></div>
</os-head-bar>

<div class="custom-table-header flex-spaced on-transition-fade">
        <div class="filter-count">
            <span> TODO shown&nbsp;</span><span translate>of</span>
            <span>&nbsp;TODO TOTAL</span>
        </div>
        <div class="current-filters" *ngIf="hasActiveTagFilter">
            <div><span translate>Active filters</span>:&nbsp;</div>
            <div>
                <button mat-button (click)="resetFilters()">
                    <mat-icon inline>cancel</mat-icon>
                    <span translate>Clear all</span>
                </button>
            </div>
            <div *ngIf="hasActiveTagFilter">
                <span>({{ getCurrentTagFilterNames() }})</span>
            </div>
        </div>
        <div class="flex-spaced">
            <div *ngIf="tagFilterOptions.length">
                <button mat-button [matMenuTriggerFor]="tagFilterMenu">
                    <span class="upper" translate>Tags</span>
                </button>
            </div>
        </div>
    </div>
    <mat-menu #tagFilterMenu="matMenu">
        <div *ngFor="let tagOption of tagFilterOptions">
            <button mat-menu-item (click)="onFilterChange(tagOption.id)">
                <mat-icon *ngIf="tagOption.state">checked</mat-icon>
                <span>{{ tagOption.label }}</span>
            </button>
        </div>
    </mat-menu>

<mat-card class="os-form-card">
    <h3>{{ categoryName }}</h3>
    <br />
    <span translate>
        Drag and drop motions to reorder the category. Then click the button to renumber.
    </span>
    <br />
    <button
        mat-raised-button
        color="primary"
        (click)="onNumberMotions()"
        class="spacer-top-10 spacer-bottom-10"
        [disabled]="!motionsCount || hasChanged"
    >
        <span translate>Number motions</span>
    </button>

    <os-sorting-list
        (sortEvent)="onListUpdate($event)"
        [input]="motionObservable"
        #sorter
    >
        <!-- implicit motion references into the component using ng-template slot -->
        <ng-template let-motion>
            <span class="ellipsis-overflow small" *ngIf="motion.tags && motion.tags.length">
                <span *ngFor="let tag of motion.tags">
                    <mat-icon inline>local_offer</mat-icon>
                    {{ tag.getTitle() }}
                </span>
            </span>
            <mat-chip matTooltip="{{ 'Sequential number' | translate }}">{{ motion.id }}</mat-chip>
        </ng-template>
    </os-sorting-list>
</mat-card>
